#ui__featured--front__section {
  z-index: 3;
}

#ui__featured--front__image {
  z-index: -1;
  transform: scale(1.5);
  transition: transform var(--transition-xxxl);
}

#ui__featured--front__mask--bottom {
  height: 50%;
  width: 100%;
  min-width: 350px;
  bottom: 0;
  left: 0;
  background: url("/src/images/mask_bottom.png") no-repeat center bottom
    transparent;
  background-size: 100% 100%;
  position: absolute;
}
#ui__featured--front__mask--left {
  width: 40%;
  height: 100%;
  min-height: 350px;
  left: 0;
  top: 0;
  background: url("/src/images/mask_left.png") no-repeat left center transparent;
  background-size: 100% 100%;
  position: absolute;
}
.ui__event--prepare-animation #ui__featured--front__image {
}
.ui__event--animate #ui__featured--front__image {
  transform: scale(1);
}
