#ui__preloader {
  z-index: 10000;
}

.ui__preloader--show {
  opacity: 1;
  transition: opacity var(--transition-xl);
}

.ui__preloader--hide {
  opacity: 0;
  transition: opacity var(--transition-xl);
}
