.bg-blue-1 {
  background-color: var(--blue-1) !important;
}
.bg-blue-2 {
  background-color: var(--blue-2) !important;
}
.bg-black-1 {
  background-color: var(--black-1) !important;
}
.bg-white-1 {
  background-color: var(--white-1) !important;
}
.bg-grey-1 {
  background-color: var(--grey-1) !important;
}
.bg-grey-2 {
  background-color: var(--grey-2) !important;
}
.bg-grey-3 {
  background-color: var(--grey-3) !important;
}
.bg-grey-4 {
  background-color: var(--grey-4) !important;
}
