.btn {
  border: solid 1px var(--blue-2);
  background-color: rgba(255, 2552, 255, 0.85);
  color: var(--blue-2);
  border-radius: 9px;
  padding: 12px 24px;
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
}
