.fs-xxl {
  font-size: var(--fs-xxl);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-xs {
  font-size: var(--fs-xs);
}
.fs-xxs {
  font-size: var(--fs-xxs);
}
