.text-blue-1 {
  color: var(--blue-1) !important;
}
.text-blue-2 {
  color: var(--blue-2) !important;
}
.text-black-1 {
  color: var(--black-1) !important;
}
.text-white-1 {
  color: var(--white-1) !important;
}
.text-grey-1 {
  color: var(--grey-1) !important;
}
.text-grey-2 {
  color: var(--grey-2) !important;
}
.text-grey-3 {
  color: var(--grey-3) !important;
}
.text-grey-4 {
  color: var(--grey-4) !important;
}
