.img-bg-fit {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-bg-fit-bottom {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
