:root {
  --blue-1: #80b5ff;
  --blue-2: #006aff;
  --black-1: #2a2a29;
  --white-1: #ffffff;
  --grey-1: #f4f4f4;
  --grey-2: #f0f0f0;
  --grey-3: #9a9a9b;
  --grey-4: #707071;
  --fs-xxl: 76px;
  --fs-xl: 32px;
  --fs-lg: 28px;
  --fs-md: 24px;
  --fs-sm: 22px;
  --fs-xs: 18px;
  --fs-xxs: 16px;
  --lh-xxl: 82px;
  --lh-xl: 36px;
  --lh-lg: 32px;
  --lh-md: 32px;
  --lh-sm: 26px;
  --lh-xs: 22px;
  --lh-xxs: 22px;
  --shadow: 0 0 4px rgba(000, 000, 000, 0.25);
  --bar-width: 24px;
  --bar-heigth: 5px;
  --active-border: solid 4px var(--blue-2);
  --transition-xxs: 0.15s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-xs: 0.3s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-sm: 0.5s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-md: 0.7s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-lg: 0.9s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-xl: 1.1s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  --transition-xxl: 2.5s cubic-bezier(0.4, 0.83, 0.46, 1.01) 0s;
  // --transition-xxs: 0.15s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-xs: 0.3s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-sm: 0.5s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-md: 0.7s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-lg: 0.9s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-xl: 1.1s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  // --transition-xxl: 2.5s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
  --transition-xxxl: 5s ease-out 0s;
  --transition-xxxxl: 7.5s ease-out 0s;

  --transition-navigation: 0.3s cubic-bezier(0.4, 0.83, 0.48, 1.15) 0s;
}
