:root {
  --blue-1: #80b5ff;
  --blue-2: #006aff;
  --black-1: #2a2a29;
  --white-1: #ffffff;
  --grey-1: #f4f4f4;
  --grey-2: #f0f0f0;
  --grey-3: #9a9a9b;
  --grey-4: #707071;
  --fs-xxl: 76px;
  --fs-xl: 32px;
  --fs-lg: 28px;
  --fs-md: 24px;
  --fs-sm: 22px;
  --fs-xs: 18px;
  --fs-xxs: 16px;
  --shadow: 0 0 4px rgba(000, 000, 000, 0.25);
  --bar-width: 24px;
  --bar-heigth: 5px;
  --active-border: solid 4px var(--blue-2);
}
